<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apiUrl" value="https://api.twitter.com/2/tweets/sample/stream"/>
    <add key="token" value="AAAAAAAAAAAAAAAAAAAAAPDogQEAAAAA99Cu8mAaR6xtZJfsKINdOLMIRSc%3D4HFnlyICSopWvuBFnmJcaZujKtRCMP7uDP2kOBmadSNpr9M1aD"/>
    <add key="process-timer-duration" value="2000"/>
    <add key="StatCalculators" value="FindTweetCount,FindTopHashtags"/>
    <add key="HashtagRank" value ="10"/>
  </appSettings>
</configuration>